body{
  font-family: "Montserrat";
}

#title{
  background-color: #ff4c68;
  color: white;
}


h1{
  font-family: "Montserrat";
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
}

/* navBar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-weight: bold;
  font-size: 2.2rem;
  font-family: "Ubuntu"
}

.nav-item{
  padding: 0 18px;
}
/* --- */

.container-fluid{
  padding: 3% 15% 0;
}

.Dbutton{
  margin: 5% 3% 5% 0;
}

.titleImage{
  width: 60%;
  transform: rotate(30deg);
  margin-left: 15%;
}

/* Features */

#features{
  text-align: center;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.textF{
  color: #8f8f8f;
}

.featuresH3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.Fea{
  padding: 6% 15%
}

.fIcon{
  color: #ef8172;
  margin: 30px;
}

.fIcon:hover{
  color: #ff4c68;
}


/* Testimonials */

#testimonials{
  background-color: #ff4c68;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
}

.carousel-indicators{
  padding-top: 10px;
}

.alignCar{
    padding: 7% 15%;
}

.test-img{
  width: 15%;
  border-radius: 100%;
  padding: 1%;
}

/* Press */

#press{
  background-color: #ff4c68;
  padding: 3% 0;
  text-align: center;
}

.press-img{
  width: 12%;
  margin: 0 25px 30px;
}

.pad{
  padding: 3% 10%;
}

.pricing-head{
  padding: 3% 10% 1%;
}

.col{
  margin: 15px auto;
}

/* ctaa */


#cta{
  background-color: #ff4c68;
  font-family: "Montserrat";
  font-weight: 900;
  padding: 35px 30%;
  text-align: center;
  color: white;
}


/* Footer */

#footer{
  text-align: center;
  font-family: "Montserrat";
  font-weight: lighter;
  padding: 4% 0;
}

.footerIco{
  margin: 10px;
}
